<h3>Por Region</h3>
<hr>

<div class="row">
    <div class="col text-center">
      <button 
      class="btn mx-2"
      *ngFor="let region of regions"
      (click)="searchByRegion(region.value)"
      [ngClass]="{'btn-outline-primary':selectedRegion===region.value}"
      >{{region.name}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <countries-table [countries]="countries"></countries-table>
    </div>
  </div>
  <shared-loading-spinner></shared-loading-spinner>