<h3>Por Capital</h3>
<hr>
<shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
<div class="row">
  <div class="col">
    <!-- (onValue)="searchByCapital($event)" (onDebounce)="searchByCapital($event)" -->
    <shared-search-box (onValue)="searchByCapital($event)" placeholder='By capital...' [initialValue]="initialValue"></shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>